---
import Container from './Container.astro';
---

<div id='solution'>
    <Container>
        <svg
            xmlns='http://www.w3.org/2000/svg'
            viewBox='0 0 24 24'
            fill='currentColor'
            class='w-6 h-6 text-sky-500'
        >
            <path
                fill-rule='evenodd'
                d='M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z'
                clip-rule='evenodd'></path>
            <path
                fill-rule='evenodd'
                d='M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z'
                clip-rule='evenodd'></path>
        </svg>

        <div
            class='space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center'
        >
            <div class='md:5/12 lg:w-1/2'>
                <img
                    src='./images/pie.svg'
                    alt='image'
                    loading='lazy'
                    width=''
                    height=''
                    class='w-full'
                />
            </div>
            <div class='md:7/12 lg:w-1/2'>
                <h2
                    class='text-3xl font-bold text-gray-900 md:text-4xl dark:text-white'
                >
                    Strengthening the skills that drive collaboration and growth
                </h2>
                <p class='my-8 text-gray-600 dark:text-gray-300'>
                    Strong soft skills make all the difference in how ideas are
                    shared and understood. By improving clarity, structure, and
                    communication, you can express thoughts more effectively,
                    adapt to different audiences, and collaborate with
                    confidence. These core areas help build stronger connections
                    and make complex ideas more accessible and impactful.
                </p>
                <div
                    class='divide-y space-y-4 divide-gray-100 dark:divide-gray-800'
                >
                    <div class='mt-8 flex gap-4 md:items-center'>
                        <div
                            class='w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20'
                        >
                            <svg
                                xmlns='http://www.w3.org/2000/svg'
                                viewBox='0 0 24 24'
                                fill='currentColor'
                                class='w-6 h-6 m-auto text-indigo-500 dark:text-indigo-400'
                            >
                                <path
                                    fill-rule='evenodd'
                                    d='M12 3.75a8.25 8.25 0 100 16.5 8.25 8.25 0 000-16.5zM1.5 12a10.5 10.5 0 1121 0 10.5 10.5 0 01-21 0zm10.5-5.25a.75.75 0 01.75.75v4.5h3a.75.75 0 010 1.5H12a.75.75 0 01-.75-.75V7.5a.75.75 0 01.75-.75z'
                                    clip-rule='evenodd'></path>
                            </svg>
                        </div>
                        <div class='w-5/6'>
                            <h3
                                class='font-semibold text-lg text-gray-700 dark:text-indigo-300'
                            >
                                Interview Anytime
                            </h3>
                            <p class='text-gray-500 dark:text-gray-400'>
                                You can practice for interviews anytime,
                                anywhere.
                            </p>
                        </div>
                    </div>
                    <div class='pt-4 flex gap-4 md:items-center'>
                        <div
                            class='w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20'
                        >
                            <svg
                                xmlns='http://www.w3.org/2000/svg'
                                fill='currentColor'
                                viewBox='0 0 24 24'
                                class='w-6 h-6 m-auto text-indigo-500 dark:text-teal-400'
                            >
                                <path
                                    d='M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z'
                                ></path>
                            </svg>
                        </div>
                        <div class='w-5/6'>
                            <h3
                                class='font-semibold text-lg text-gray-700 dark:text-teal-300'
                            >
                                Make Progress
                            </h3>
                            <p class='text-gray-500 dark:text-gray-400'>
                                Practice your core competencies based on
                                actionable feedback.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</div>
